name: CD

on: workflow_dispatch

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Install Rust (with Wasm targets)
      run: |
        set -e
        rustup update stable --no-self-update
        rustup default stable
        rustup target add wasm32-wasi
        rustup target add wasm32-unknown-unknown

    - name: Build Wasm
      run: cargo build --target wasm32-wasi --release

    - name: Build Extension
      run: |
        cp ./target/wasm32-wasi/release/ts9.wasm ./ts9.wasm
        tar cvf ts9.tar ts9.sql ts9.wasm ts9.wit 

    - name: Select Release Version
      run: |
        echo "release_version=$(cargo metadata | jq '.packages[] | select(.name=="ts9") .version')" >> $GITHUB_ENV

    - name: Release
      uses: "marvinpinto/action-automatic-releases@latest"
      with:
        title: ts9 $release_version
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: latest
        prerelease: false
        files: |
          ts9.tar
          ts9.sql
          ts9.wasm
          ts9.wit